.popup-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(197, 198, 198, 0.321);
  backdrop-filter: blur(20px);
  height: 110vh;
  z-index: 100;
  display: flex;
  /* margin-top: 4rem; */
}
.popup-card{
  background-color: var(--primary-color);
  min-width: 550px;
  min-height: 300px;
  padding: 3rem ;
  border-radius: 1rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: space-around;
  position: relative;
}
.popup-actions{ 
  display: flex;
  gap: 2rem;
  position: relative;
  z-index: 10;
}
.popup-content{
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.popup-content h1{
  width: 300px;
  font-size: 2rem;
}
.popup-content h3{
  width: 350px;
  color: var(--color);
}
.popup-actions button {
  background-color: var(--secondary-color);
  border: none;
  padding: .5rem 1.25rem;
  border-radius: 3rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  cursor: pointer;
}
.card-background{
  position: absolute;
  color: var(--dark-color);
  right: 0;
  top: 0;
  z-index: 1;
}
.bg-icon{
  width: 300px;
  opacity: .5;
  height: 250px;
}