.noteList_container{
  column-count: 3;
  width: 100%;
  min-height: 100vh;
}
.search-note{
  width: 60%;
  margin: 1rem 0 2rem;
  background-color: var(--tertiary-color);
  margin-inline: auto;
  border-radius: 3rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: .75rem 2rem;
  gap: 1rem;
  color: var(--dark-color);
}
.search-note input {
  outline: none;
  color: var(--dark-color);
  border: none;
  background-color: transparent;
  padding: .5rem 0;
  width: 100%;
  border-bottom: 1px solid var(--dark-color);
}
.empty-list{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  margin:  5rem 2rem;
}
.empty-list h1{
  font-size: 3rem;
}
.getStarted-btn{
  padding: .75rem 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
  background-color: var(--background-color);
  color: var(--color);
}
/* ---------------------------------------------------- */
/* EDIT */
/* ---------------------------------------------------- */


.editNote-btn-container .delete-btn{
  color: var(--neon-red);
}
.save-btn{
  color: var(--neon-green);
}
.close-btn{
  opacity: 1;
}
.editNote-addTag{
  display: flex;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 1rem;
  padding: 1rem;
}
.editNote-addTag input{
  flex: 1;
  height: 60px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid var(--dark-color);
  outline: none;
  color: var(--color);
  font-size: 1.25rem;
  padding: 1rem;
}
.tagColor-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  width: 100px;
  gap: 1rem;
}

.tag-color{
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.active-tag{
  border: 3px solid rgb(95, 187, 249) !important;
}
.editNote-title .star-btn {
  cursor: pointer;
}


/* ---------------------------------------------------- */
/* Delete */
/* ---------------------------------------------------- */

.deleteNote{
  padding: 1rem;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--tertiary-color);
  border-radius: 1rem;
  gap: 2rem
}
.deleteNote h1{
  font-size: 2rem;
  max-width: 600px;
}
.deleteNote button{
  background-color: transparent;
  padding: .5rem 1.75rem;
  border-radius: 2rem;
  margin-inline: 1rem;
  border: 2px solid var(--dark-color);
  transition: all .13s ease-in-out;
  cursor: pointer;
}
.deleteNote button:hover{
  background-color: var(--tertiary-color);
  border: 2px solid var(--tertiary-color);
}

.yes-btn{
  color: var(--neon-green);
}
.no-btn{
  color: var(--neon-red);
}

/* ---------------------------------------------------- */
/* Create */
/* ---------------------------------------------------- */
.newNote-section3{
  padding: 1rem;
}
/* ---------------------------------------------------- */
/* COMMON */
/* ---------------------------------------------------- */
.editNote,
.newNote{
  margin:  2.5rem;
  margin-top: 0;
}
.editNote_container,
.newNote-container,
.editNote,
.newNote{
  gap: 2rem;
  display: flex;
  flex-direction: column;
}
.editNote-section1,
.newNote-section1{
  border-bottom:1px solid var(--color);
}
.editNote-title{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.editNote-title .star-btn{
  width: 30px;
  height: 30px;
  color: var(--neon-red);
}
.editNote-section1 input,
.newNote-section1 input{
  width: 100%;
  background-color: transparent;
  border: none;
  color: var(--color);
  padding: 1rem;
  font-size: 2.5rem;
  font-weight:600 ;
  outline: none;
  height: fit-content;
}
.editNote-section1 input:focus,
.newNote-section1 input:focus{
  border-color:transparent;
}
.editNote button,
.newNote button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: .75rem 1.75rem;
  gap: .5rem;
  font-weight: 600;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  background-color: var(--dark-color);
  color: var(--color);
}
.editNote-section2,
.newNote-section2 {
  border:3px solid var(--dark-color);
  padding: 2rem;
  border-radius: 1rem;
  background-color: var(--tertiary-color);
}
.editNote-section2 textarea,
.newNote-section2 textarea {
  color: var(--dark-color);
  border: none;
  outline: none;
  min-width: 100%;
  background-color: transparent;
  font-size: 1rem;
  min-height: 40vh;
  resize: none;
  line-height: 1.5rem;
}
.editNote-section3 button,
.newNote-section3 button{
  padding: .65rem 1.75rem;
  border-radius: 1.5rem;
  font-size: 1rem;
  background-color: var(--tertiary-color);
  color: var(--primary-color);
  font-weight: 600;
  border: none;
}
.editNote-section3 .add-btn,
.newNote-section3 .add-btn{
  color: var(--neon-purple);
}

.editNote-section4,
.newNote-section4{
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
}
.editNote-btn-container,
.newNote-btn-container{
  display: flex;
  gap: 3rem;
  padding: 1rem ;
  justify-content: space-between;
  background-color: var(--tertiary-color);
  border-radius: .65rem;
}
.editNote h1,
.newNote h1{  
  font-size: 3rem;
  font-weight: 300;
}
.newNote button{
  padding: .5rem 1.75rem;
}
.editNote-section4 .tag,
.newNote-section4 .tag{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
  color: var(--dark-color);
  padding: .75rem 1.5rem;
  border-radius: 1.5rem;
  padding-right: .85rem;
  cursor: pointer;
  border: 3px solid transparent;
}


/* ---------------------------------------------------- */
/* Important notes */
/* ---------------------------------------------------- */
.important-notes{
  gap: 1rem;
  columns: 2;
}



/* ---------------------------------------------------- */
/* Deleted Notes */
/* ---------------------------------------------------- */
.deletedNotes{
  height: 100%;
}
.deletedNotes-btnContainer{
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}
.empty-deletedNotes{
  margin: 5rem 2rem;
  width: 100%;
  height: 100%;
  font-size: 2rem;
}
.restore-all-btn{
  color: var(--neon-blue);
  cursor: pointer;
}
.delete-all-btn {
  color: var(--neon-red);
}
.deletedNotes-btn{
  border-radius: 3rem;
  cursor: pointer;
  padding: .75rem 1.25rem;
  display: flex;
  align-items: center;
  gap: .5rem;
  background-color: var(--secondary-color);
  color: var(--dark-color);
}
.empty-alert{
  color: var(--neon-red);
  margin: 2rem 0;
  background-color: var(--tertiary-color);
  width: fit-content;
  padding: .75rem 1.5rem;
  border-radius: 2rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: .5rem;
}