.themeToggle{
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: var(--primary-color);
  padding: 3rem;
  overflow: scroll;
}
.themeToggle-container{
  display: flex;
  flex-direction: column;
  gap: .75rem;
  margin: 2.8rem 0;
}
.theme-title{
  display: flex;
  padding-inline: 1rem;
  align-items: center;
  gap: 1rem;
  font-size: 1.75rem;
}
.theme-num{
  background-color: var(--dark-color);
  border-radius: 50%;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.themeToggle-section1{
  display: flex;
}
.theme-title .theme-icons{
  width: 25px;
  height: 25px;
}
.theme-info{
  background-color: var(--tertiary-color);
  color: var(--dark-color);
  padding: 1.5rem ;
  border-radius: 1rem;
}
.switch-btn{
  background-color: var(--dark-color);
  border: none;
  padding: .5rem;
  border-radius: 50%;
  margin: 1rem .5rem;
  cursor: pointer;
}
.swtich{
  color: var(--color);
}
.theme-img{
  padding: 2rem ;
}
.theme-img img{
  margin: 1rem 3rem ;
  width: 80%;
  border-radius: 1rem;
}